<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona requisições que não apontam para a pasta public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>