<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se o arquivo ou diretório solicitado não existir, envia para o index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>